.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  display: block;
  font-size: 25px;
  box-sizing: border-box;
}


body {
    width: 350px;
    margin: 0;
    font-family: arial, sans-serif;
  }
  .module-title {
    height: 40px;
    width:100%;
    background-color: #003b5c;
    color: white;    
  }


  #dkim-record {
    padding: 15px 0 0 10px;
    font-weight: 700;
  }

  .record-choice {
    margin-bottom: 10px;
  }

a {
  color: darkgray;
}


  /* NEW TOGGLE 
#toggle {
    display: none;
  }
  
#toggle:target {
    display: block;
  }
*/



  /* TO REMOVE */

  .dkimToggle {
    display:block !important;
    height: 135px;
   }

   .cnameToggle {
    display:block !important;
    height: 90px;
   }

   .mailingToggle {
    display:block !important;
    height: 115px;
   }

   .sslToggle {
    display:block !important;
    height: 105px;
   }

