body {
    width: 350px;
    margin: 0;
    font-family: arial, sans-serif;
  }
  #dkim-record {
    padding: 15px 0 0 10px;
    font-weight: 700;
  }

  .record-choice {
    margin-bottom: 10px;
  }

  .verify-module a {
    color: white;
    font-weight: 800;
    background-color: navy;
  }